<div class="title">
  <h1>Sistema de consulta y extracci칩n de datos de un juicio</h1>
</div>
<div class="login">
  <h3>Inici칩 de sesi칩n</h3>
  Correo<input type="email" name="lgnemail" id="lgn" placeholder="email@mail.com">
  Contrase침a<input type="password" name="lgnpassword" id="lgnpassword">

  
</div>
